<!-- <% var date = new Date()%> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here's All The Flights</h1>
    <a href="/flights/new">
    <p>Add A New Flight</p>
    </a>
    <table>
       <thead>
            <th>
                <td>Airline</td>
                <td>Flight Number</td>
                <td>Departs</td>
            </th>
        </thead>
        <tbody>
            <% flights.forEach(f => { %>
                <tr>
                    <td><%= f.airline %></td>
                    <td><%= f.flightNo %></td>
                    <td><%= f.departs %></td>
                </tr>
           <% }) %>
        </tbody>
    </table>
</body>
</html>